*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

.choice{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

.score{
    text-align: center;
    width: 100px;
}

#user-score, #comp-score{
    font-size: 4rem;
    text-align: center;
}

.msg-container{
    margin-top: 5rem;
    text-align: center;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}